/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {

  --color-primary-0: #FFFFFF;
  --color-primary-50: #E8EEF6;
  --color-primary-100: #C8D7EB;
  --color-primary-200: #A4BEE0;
  --color-primary-300: #7F9BD5;
  --color-primary-400: #5B7CCA;
  --color-primary-500: #365BAF;
  --color-primary-600: #1C458A;
  --color-primary-700: #0E336A;
  --color-primary-800: #05234A;
  --color-primary-900: #00132B;

  --color-secondary-0: #FFFFFF;
  --color-secondary-50: #F9FAFB;
  --color-secondary-100: #F3F4F6;
  --color-secondary-200: #E5E7EB;
  --color-secondary-300: #D1D5DB;
  --color-secondary-400: #9CA3AF;
  --color-secondary-500: #6B7280;
  --color-secondary-600: #4B5563;
  --color-secondary-700: #374151;
  --color-secondary-800: #1F2937;
  --color-secondary-900: #111827;

  --color-success-50: #F0FDF4;
  --color-success-100: #DCFCE7;
  --color-success-500: #22C55E;
  --color-success-700: #15803D;

  --color-warning-50: #FFFBEB;
  --color-warning-100: #FEF3C7;
  --color-warning-500: #F59E0B;
  --color-warning-700: #B45309;

  --color-error-50: #FEF2F2;
  --color-error-100: #FEE2E2;
  --color-error-500: #EF4444;
  --color-error-700: #B91C1C;

  --color-info-50: #EFF6FF;
  --color-info-100: #DBEAFE;
  --color-info-500: #3B82F6;
  --color-info-700: #1D4ED8;
}

@utility bg-primary {
  background-color: var(--color-primary-500);
}

